.jumbotron {
  background-color: #3281a8;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #b1b2b3;
  margin-top: 50px;
  margin-bottom: 0px;
  color: white;
}
.card-options {
  flex: 1 250px;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn-options {
  width: 100%;
  border-radius: 0px;
}
.footer-adrdress-icon {
  padding-right: 10px;
}
.pbadge-margin {
  margin-left: 10px;
}
.tab-content {
  padding-top: 10px;
}
