@grey: #b1b2b3; 
@blue: #3281a8;


.margenes(@top: 0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @blue;
  color: white;
  .margenes(50px, 0px);
  }

footer {
  padding: 10px 10px 0 10px;
  background-color: @grey;
  .margenes(50px, 0px);
  color: white; }

.card-options {
  flex: 1 250px;
  .margenes(50px, 0px); 
  }

.btn-options {
  width: 100%;
  border-radius: 0px; }

.footer-adrdress-icon {
  padding-right: 10px; }

.pbadge-margin {
  margin-left: 10px; }

.tab-content {
  padding-top: 10px; 
  }