$yellow: #faf60a;
$grey: #0a0a0a;
$blue: #c3ddf7;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $grey;
	color: white;
	@include margenes(50px, 0px);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $blue;
	@include margenes(10px, 0px);
	color: white;
}

.card-options{
	flex: 1 250px;

	@include margenes(10px, 0px);
}

.btn-options{
	width: 100%;
	border-radius: 0px;
}

.footer-adrdress-icon{
	padding-right: 10px;
}

.pbadge-margin{
	margin-left: 10px;
}

.tab-content{
	padding-top: 10px;
}